{% extends 'base.html' %}

{% block content %}
  <h1>Créer un stage</h1>
  <form method="post" enctype="multipart/form-data" class="my-4">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-group">
      <div id="location-error" class="text-danger" style="display: none;">Erreur de géolocalisation</div>
      <div id="location-success" class="text-success" style="display: none;">Géolocalisation réussie</div>
    </div>

    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">

    <button type="button" id="get-location-button" class="btn btn-primary">Géolocalisation</button>

    <button type="submit" class="btn btn-success">Enregistrer</button>
  </form>
  

  <script>
    
    // Fonction pour afficher le message de confirmation de la géolocalisation réussie en vert
    function showLocationSuccess() {
      document.getElementById("location-success").style.display = "block";
    }

    // Fonction pour afficher le message d'erreur de la géolocalisation en rouge
    function showLocationError() {
      document.getElementById("location-error").style.display = "block";
    }

    // Fonction pour obtenir les coordonnées GPS et les afficher dans les champs cachés
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            showLocationSuccess();
          },
          function(error) {
            showLocationError();
          }
        );
      } else {
        showLocationError();
      }
    }

    // Ajoutez un écouteur d'événements pour le bouton de géolocalisation
    document.getElementById("get-location-button").addEventListener("click", getLocation);
  </script>
{% endblock %}
