{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Inscription</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_nom" class="form-label">Nom d'utilisateur</label>
                            {{ form.nom }}
                            {% if form.nom.errors %}
                                <p class="text-danger">{{ form.nom.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_username" class="form-label">login</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                                <p class="text-danger">{{ form.username.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_mail" class="form-label">Adresse Email</label>
                            {{ form.email}}
                            {% if form.email.errors %}
                                <p class="text-danger">{{ form.email.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_password1" class="form-label">Mot de passe</label>
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                                <p class="text-danger">{{ form.password1.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_password2" class="form-label">Confirmer le mot de passe</label>
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                                <p class="text-danger">{{ form.password2.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_type_utilisateur" class="form-label">Type d'utilisateur</label>
                            {{ form.type_utilisateur }}
                            {% if form.type_utilisateur.errors %}
                                <p class="text-danger">{{ form.type_utilisateur.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3" id="departementField" style="display: none;">
                            <label for="id_department" class="form-label">Département</label>
                            {{ form.department }}
                            {% if form.department.errors %}
                                <p class="text-danger">{{ form.department.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3" id="levelField" style="display: none;">
                            <label for="id_level" class="form-label">Niveau</label>
                            {{ form.level }}
                            {% if form.level.errors %}
                                <p class="text-danger">{{ form.level.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3" id="cursusField" style="display: none;">
                            <label for="id_cursus" class="form-label">Cursus</label>
                            {{ form.cursus }}
                            {% if form.cursus.errors %}
                                <p class="text-danger">{{ form.cursus.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3" id="roleField" style="display: none;">
                            <label for="id_role" class="form-label">Rôle</label>
                            {{ form.role }}
                            {% if form.role.errors %}
                                <p class="text-danger">{{ form.role.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="form-check mb-3">
                            {{ form.newsletter_subscription }}
                            <label class="form-check-label" for="id_newsletter_subscription">
                                S'abonner à la newsletter
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="id_photo_profil" class="form-label">Photo de profil. Taille inférieure à 5 Mo</label>
                            {{ form.photo_profil }}
                            {% if form.photo_profil.errors %}
                                <p class="text-danger">{{ form.photo_profil.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p>Déjà inscrit ? <a href="{% url 'connexion' %}">Connectez-vous</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var typeUtilisateurField = document.getElementById("id_type_utilisateur");
        var departementField = document.getElementById("departementField");
        var levelField = document.getElementById("levelField");
        var cursusField = document.getElementById("cursusField");
        var roleField = document.getElementById("roleField");
        
        typeUtilisateurField.addEventListener("change", function() {
            var selectedType = typeUtilisateurField.value;
            
            if (selectedType === "et") {
                departementField.style.display = "block";
                levelField.style.display = "block";
                cursusField.style.display = "block";
                roleField.style.display = "none";
            } else if (selectedType === "ad") {
                departementField.style.display = "block";
                levelField.style.display = "none";
                cursusField.style.display = "none";
                roleField.style.display = "block";
            } else {
                departementField.style.display = "none";
                levelField.style.display = "none";
                cursusField.style.display = "none";
                roleField.style.display = "none";
            }
        });
    });
</script>

{% endblock %}
